<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <div class="col-md-12 col-lg-12">
          <p class="text-white mt-0 mb-2">Şirket Bilgileri</p>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row justify-content-md-center">
    <div class="col-xl-8 order-xl-2">
      <form role="form" [formGroup]="formBranch" (ngSubmit)="addBranch()">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                <h3 class="mb-0">Şube Kayıt</h3>
                </div>
                <div class="col-4 text-right">
                <button type="submit" class="btn btn-sm btn-primary">Kaydet</button>
                </div>
            </div>
            </div>
            <div class="card-body">
                <div class="pl-lg-4"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="form-control-label" for="name">Şube İsmi :</label>
                            <input type="text" id="name" formControlName="name" name="name"  class="form-control form-control-alternative"
                            placeholder="name" >
                        </div>
                    </div>
                </div>
                

                <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <app-maps [inputMaps]="mapsModel" (maps)="setLatitude($event)"></app-maps>
                    </div>
                </div>
             
                </div>
                
               
               
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
