<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">





  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row justify-content-md-center">
    <div class="col-xl-8 order-xl-2">
      <form role="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Şirket</h3>
              </div>
              <div class="col-4 text-right">
                <button type="submit" class="btn btn-sm btn-primary">Kaydet</button>
              </div>
            </div>
          </div>
          <div class="card-body">


            <div class="pl-lg-4">

              <div class="row">
                <div class="col-lg-6 center">
                  <div class="form-group">
                    <div class="card-company-image">
                      <input
                        style="display: none"
                        type="file" (change)="onFileChanged($event)"
                        #fileInput>
                      <a  (click)="fileInput.click()">
                        <img [src]="company.logo" class="rounded-circle">
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="name">Şirket</label>
                    <input type="text" id="name" formControlName="name" name="name"
                      class="form-control form-control-alternative" placeholder="name">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="type">Tür</label>
                    <input type="text" id="type" formControlName="type" name="type"
                      class="form-control form-control-alternative" placeholder="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <select id="country" #t (change)="selectOnChange(t.value)"
                      class="form-control form-control-alternative" formControlName="province">
                      <option *ngFor="let p of provinces" [value]="p.id">{{ p.name }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <select id="country" class="form-control form-control-alternative" formControlName="district">
                      <option *ngFor="let d of districts" [value]="d.id">{{ d.name }}</option>
                    </select>
                  </div>
                </div>

              </div>

            </div>

            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Şube Bilgileri</h6>
            <app-branch-list></app-branch-list>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
