<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6" *ngIf="!registeredSuccess">
          <h1 class="text-white">Hoşgeldin</h1>
          <p class="text-lead text-light">Merhaba, Şirket kaydını oluşturman için adımları doğru şekilde doldurman gerek.</p>
        </div>
        <div class="col-lg-5 col-md-6" *ngIf="registeredSuccess">
          <h1 class="text-white">Tebrikler {{secondFormGroup.value.userName}} </h1>
          <p class="text-lead text-light">Başarı ile Şirketiniz oluşturuldu ,Giriş Ekranına Yönelndiriliyorsunuz.</p>
          <p>Eğer hala yönlendirilmediyseniz lütfen  
            <a routerLinkActive="active" [routerLink]="['/../..']" >
              <span>tıklayınız.</span>
            </a>

          </p>
        </div>

      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-12 " *ngIf="!registeredSuccess">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12  pb-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="alert alert-danger text-center" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
          <div class="btn-wrapper text-center">
            <a routerLinkActive="active" [routerLink]="['/auth']" class="btn btn-light">
              <i class="ni ni-single-02"></i>
              <span>Giriş Yap</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          
          <mat-horizontal-stepper #stepper>
            <mat-step [stepControl]="firstFormGroup" errorMessage="Boş Bırakmayınız.">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Şirket Bilgileri</ng-template>
                
                <div class="row">
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Şirket Adı:</mat-label>
                      <input matInput placeholder="Şirket Adı" formControlName="name" required>
                    </mat-form-field>
                  </div>
                  <!-- 
                  <div class="col-lg-3">
                    <mat-form-field>
                      <mat-label>Hizmet Sektörü</mat-label>
                      <input matInput placeholder="RESTORANT" formControlName="type" required>
                    </mat-form-field>
                  </div>
                  -->
                </div>  
                <div>
                  <button mat-button matStepperNext>Devam</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" errorMessage="Boş Bırakmayınız">
              <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Kişisel Bilgiler</ng-template>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <mat-form-field>
                        <mat-label>Kullanıcı Adı:</mat-label>
                        <input matInput  formControlName="userName"
                               required>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                      <mat-form-field>
                        <mat-label>E-posta</mat-label>
                        <input matInput  formControlName="email"
                               required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <mat-form-field>
                        <mat-label>Ad:</mat-label>
                        <input matInput formControlName="firstName"
                               required>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                      <mat-form-field>
                        <mat-label>Soyad:</mat-label>
                        <input matInput  formControlName="lastName"
                               required>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <mat-form-field>
                        <mat-label>Şifre</mat-label>
                        <input matInput formControlName="password"
                               required>
                      </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                      <mat-form-field>
                        <mat-label>Şifre Tekrar</mat-label>
                        <input matInput formControlName="rePassword"
                               required>
                      </mat-form-field>
                    </div>
                    <div>
                      <button mat-button matStepperPrevious>Geri</button>
                      <button mat-button matStepperNext >Devam</button>
                    </div>
                  </div>
                </div>

                
              
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Tamamla</ng-template>
              <p>Tarafımız tarafından incelenip geri dönüş sağlanıcaktır.</p>
              <div>
                <button mat-button matStepperPrevious>Geri</button>
                <button mat-button (click)="onSubmit()" class="btn btn-light" *ngIf="firstFormGroup.valid && secondFormGroup.valid">Tamamla</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</div>
