<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Kullanıcı Listesi</h3>
              </div>
              <div class="col text-right">
                <a href="#!" class="btn btn-sm btn-primary" [routerLink]="['add']">Oluştur</a>
              </div>
            </div>
          </div>
          
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Kullanıcı Adı:</th>
                  <th scope="col">Adı</th>
                  <th scope="col">Soyadı</th>
                  <th scope="col">Email</th>
                  <th scope="col">Rol</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody style="padding: 20px;">
                <ng-container  *ngFor="let userEl of users;" >
                  <tr app-user-item *ngIf="userEl.id != myProfile.accountDetail.id" [user]='userEl'></tr>
              </ng-container>
              </tbody>
            </table>
          </div>
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
  
                
                
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- Dark table -->
   
  </div>
  